<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Change Password :: Hiking Gear Rental</title>
    <link rel="icon" href="">
    <meta property="og:url" content="http://hiking-gear-rental.herokuapp.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Hiking Gear Rental" />
    <meta property="og:description" content="Rent high-quality hiking gear easily" />
    <meta property="og:image" content="{{ url_for('static', filename='images/logo.png') }}" />
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Hiking Gear Rental">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="description" content="Hiking Gear Rental">

    <!-- Custom CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/changepassword.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Bootstrap CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="{{ url_for('index') }}" class="brand-logo">Hiking Gear Rental</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><img src="{{ url_for('static', filename='images/menu.svg') }}"></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('gear') }}">Gear Rental</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <br><br>
    <article class="container">
      <form action="" method="post">
        {{ cp.hidden_tag() }}
        <div class="row text-center">
          <div class="col-md-12">
            <div class="form-group">
              {{ cp.password.label(class='col-form-label') }}
              {% if cp.password.errors %}
                {{ cp.password(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                  {% for error in cp.password.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ cp.password(class='form-control') }}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <div class="form-group">
              {{ cp.submit(class='form-control btn btn-outline-primary') }}
            </div>
          </div>
        </div>
      </form>
    </article>
    <footer class="container jumbotron" id="footer">
      <div class="row text-center">
        <div class="col-md-4 my-auto">
          <h4>Hiking Gear Rental</h4>
        </div>
        <div class="col-md-4 my-auto">
          <h5>&copy; 2025. All Rights Reserved.</h5>
        </div>
        <div class="col-md-4 my-auto">
          <ul>
            <li><a href="https://www.linkedin.com" target="_blank"><img src="{{ url_for('static', filename='images/linkedin.png') }}"></a></li>
            <li><a href="https://www.instagram.com" target="_blank"><img src="{{ url_for('static', filename='images/instagram.png') }}"></a></li>
            <li><a href="https://www.facebook.com" target="_blank"><img src="{{ url_for('static', filename='images/facebook.png') }}"></a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
